/* ABOUT SECTION STARTS HERE !!! */

.aboutBox {
    background-image: radial-gradient(100% 100% at 100% 0, var(--soft-mainColor) 0, var(--mainColor) 100%);
    color: white; 
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.about-wrapper {
    /* border: solid 1px; */
    padding: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.aboutDescription {
    /* background-color: red; */
    padding: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.interests{
  display: none;
}

.toggle_button{
    display: flex;
    padding: 10px 0;
}

.toggle {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.288) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.664);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}

.toggle:hover,
.toggle:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.301) 0 4px 12px;
}

.toggle:hover {
  transform: translateY(-1px);
}

.toggle:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.about-profile-image{
    /* background-color: red; */
    width: 25%;
}

.aboutImg {
    box-shadow: 0 0 5px 2px white;
    display: flex;
    margin: auto;
    border-radius: 50%;
    max-width: 300px;
    width: 70%;
}

/* ABOUT SECTION ENDS HERE !!! */