/* CONTACTS SECTION STARTS HERE !!! */


.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.form-wrapper{
    /* background-color: red; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 85%;
    padding: 50px 0;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input {
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px;
    outline: none;
    border-radius: 10px;
    border: solid 1px grey;
}

.form-input:focus,
.form-input:focus,
.form-input:focus {
    box-shadow: 0 0 4px 1px #0074D9;
}


.send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    box-shadow: rgba(35, 52, 66, 0.4) 0 2px 4px, rgba(35, 49, 66, 0.3) 0 7px 13px -3px, rgba(58, 79, 111, 0.5) 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, var(--soft-mainColor) 0, var(--mainColor) 100%);
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    transition: box-shadow .15s, transform .15s;
    font-size: 1.1rem;
}

.send:hover {
    box-shadow: rgba(35, 56, 66, 0.4) 0 4px 8px, rgba(35, 57, 66, 0.3) 0 7px 13px -3px, rgb(60, 191, 224)0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.send:active {
    box-shadow: #3c83e0 0 3px 7px inset;
    transform: translateY(2px);
}

/* CONTACTS SECTION ENDS HERE !!! */
