/* FOOTER SECTION STARTS HERE !!! */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #363945;
    padding-top: 10px;
}

.upArrow{
    font-size: 3.5rem;
    padding: 20px;
}

.fa-circle-chevron-up {
    color: white;
    transition: .2s all;
}

.fa-circle-chevron-up:hover {
    transform: scale(1.05) translateY(-3px);   
}

.fa-circle-chevron-up:active {
    transform: translateY(0);
}

.footer_icons{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyRight {
    color: white;
    border-top: solid 1px gray;
    font-weight: 200;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.icons_title{
    color: #fff;
    text-align: center;
}
/* FOOTER SECTION ENDS HERE !!! */