.projects {
    padding: 80px 0;
}

.projects-wrapper {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    gap: 120px;
}

.project {
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    gap: 20px;
    width: 1300px;
}

.project:nth-child(even){
    flex-direction: row-reverse;
}

.project-img {
    /* border: solid 1px blue; */
    flex: 1;
}

.project-img > img {
    width: 100%;
}

.project-details {
    background: rgb(236, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 40%;
    border-radius: 10px;
    padding: 30px;
    margin: 50px 0;
    gap: 20px;
    /* border: solid 1px red; */
}

.project-title{
    font-size: 1.5rem;
}

.project-description {
    font-weight: 400;
}

.tech-list{
    /* border: solid 1px yellow; */
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-size: .7rem;
    flex-wrap: wrap;
    list-style-type:none;
}

.tech{
    border: solid 3px;
    background: rgb(109, 108, 108);
    color: white;
    border-style: double;
    padding: 2px 10px;
}

.project-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.live {
    width: 25px;
}

.live > a > img {
    width: 100%;
}

.repo {
    width: 30px;
}

.repo > a > img {
    width: 100%;
}

.project-buttons a{
    text-decoration: none;
}

.project-button {
    display: flex;
    align-items: center;
    box-shadow: rgb(11, 16, 20) 0 2px 4px, rgba(13, 18, 24, 0.3) 0 7px 13px -3px, rgba(45, 63, 90, 0.5) 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #d6d2d2 0, #161414 100%);
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 7px 10px;
    transition: box-shadow .15s, transform .15s;
    font-size: .9rem;
}

.project-button:hover {
    box-shadow: rgba(35, 56, 66, 0.4) 0 4px 8px, rgba(35, 57, 66, 0.3) 0 7px 13px -3px, rgb(164, 185, 190)0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.project-button:active {
    box-shadow: #0b1725 0 3px 7px inset;
    transform: translateY(2px);
}

.project-button:focus {
    box-shadow: #111c2c 0 0 0 1.5px inset, rgba(45, 57, 66, 0.4) 0 2px 4px, rgba(46, 75, 92, 0.3) 0 7px 13px -3px, #1c2530 0 -3px 0 inset;
}

.coming_soon{
    width: 100%;
}


@media (max-width:1500px) {
    .project {
        width: 1200px;
    }
}

@media (max-width:1200px) {
    .project {
        width: 100vw;
        padding: 0 40px;
    }

    .project-details {
        padding: 20px;
    }
}

@media (max-width:900px) {

    .project {
        flex-direction: column;
        padding: 0 20px;
    }

    .project:nth-child(even){
        flex-direction: column;
    }

    .project-details {
        max-width: 80%;
        margin: 0;
    }
}


@media (max-width:650px) {

    .project {
        padding: 0 10px;
    }

    .project-details {
        gap: 10px;
        max-width: 100%;
    }
    
    .project-title{
        font-size: 1.3rem;
    }

    .project-button{
        padding: 5px 10px 8px 10px;
        font-size: .8rem;
        border-radius: 4px;
    }
}

@media (max-width:480px) {
    
}