.topbar {
    background-color: #363945;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 3px 3px 5px rgb(85, 84, 84);
    padding: 8px 20px;
    z-index: 1;
    animation: fadeInDown 1s ease;
}

.topbar-container {
    display: flex;
    align-items: center;
}

.topbar_buttons_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}


.button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
    transform: translateY(-5.5px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
    transform: translateY(3px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
    outline: none;
}

.homeButton-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to left,
            #1f2027 0%,
            #363945 8%,
            #292c35 92%,
            #191b20 100%);
}

.homeButton-front {
    border: solid 1px #444855;
    display: block;
    padding: 0 8px;
    border-radius: 8px;
    color: white;
    background: #363945;
    transform: translateY(-4px);
}

.cv-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to left,
            rgb(70, 69, 69) 0%,
            rgb(206, 201, 201) 8%,
            rgb(192, 191, 191) 92%,
            rgb(70, 69, 69) 100%);
}

.cv-front {
    border: solid 1px rgb(189, 189, 189);
    display: block;
    padding: 5px 9px;
    border-radius: 8px;
    font-size: 1rem;
    color: #363945;
    background: lightgray;
    transform: translateY(-4px);
}

.initials {
    font-size: 2.2rem;
}

.scrollTags {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 1.2rem;
    gap: 40px;
}

.topbarScrollTo {
    cursor: pointer;
    transition: .1s ease;
}

.topbarScrollTo:hover {
    color: var(--mainColor);
    transition: .1s ease;
}

.topbarAbout {
    animation: bounceInRight 1s ease;
    animation-fill-mode: forwards;
    transform: scale(0)
}

.topbarSkill {
    animation: bounceInRight 1s ease .2s;
    animation-fill-mode: forwards;
    transform: scale(0)
}

.topbarProject {
    animation: bounceInRight 1s ease .4s;
    animation-fill-mode: forwards;
    transform: scale(0)
}

.topbarContact {
    animation: bounceInRight 1s ease .6s;
    animation-fill-mode: forwards;
    transform: scale(0)
}


.contactIcons {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 2.2rem;
}

.hide_mobile .fa-linkedin {
    display: inline-block;
    animation: bounceInDown 1s ease .8s;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.hide_mobile .fa-whatsapp {
    display: inline-block;
    animation: bounceInDown 1s ease 1s;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.hide_mobile .fa-github {
    display: inline-block;
    animation: bounceInDown 1s ease 1.2s;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.hide_mobile .fa-envelope {
    display: inline-block;
    animation: bounceInDown 1s ease 1.4s;
    animation-fill-mode: forwards;
    transform: scale(0);
}


.fa-linkedin,
.fa-whatsapp,
.fa-github,
.fa-envelope {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.fa-linkedin:active,
.fa-whatsapp:active,
.fa-github:active,
.fa-envelope:active {
    transform: translateY(2.5px);
    transition: ease .1s;
}

.fa-linkedin:hover,
.fa-whatsapp:hover,
.fa-github:hover,
.fa-envelope:hover {
    transform: translateY(-2.5px);
    transition: ease .1s;
}

.fa-linkedin:hover {
    color: #0074D9;
}

.fa-whatsapp:hover {
    color: rgb(138, 212, 26);
}



.fa-github:hover {
    color: purple;
}

.fa-envelope:hover {
    color: black;
}