/* MAX WIDTH 1200 STARTS HERE !!! */

@media (max-width:1200px) {

    .about-wrapper {
        font-size: 1.2rem;
    }   

    .toggle {
        font-size: .7rem;
        padding: 3px 8px;
      }

    /* END OF ABOUT  */
        
    
    .icons-wrapper{
        gap: 80px;
        width: 700px;
    }
    
    .icon-box {
        font-size: .9rem;
    }
    
    .skillIcon {
        width: 60px;
    }
    /* END OF SKILLS  */
    
    .form-input {
        font-size: 1.2rem;
    }
    /* END OF CONTACT  */
    
    
    .footer_icons{
        padding: 30px;
    }
    
    /* END OF FOOTER  */
    










    .section-title {
        font-size: 3rem;
    }
  
}

/* MAX WIDTH 1200 ENDS HERE !!! */