/* MAX WIDTH 900 STARTS HERE !!! */

@media (max-width: 900px) {

    .initials {
        font-size: 1.7rem;
    }

    .cv-front {
        font-size: .8rem;
    }

    .scrollTags {
        font-size: .8rem;
        gap: 15px;
    }

    .contactIcons {
        gap: 20px;
        font-size: 1.5rem;
    }

    /* END OF TOPBAR  */

    .home_intro {
        font-size: 2.5rem;
    }

    .scrollButtons {
        padding: 30px;
    }

    .scroll {
        padding: 10px 14px;
        font-size: .9rem;
    }

    .downArrow {
        padding: 30px;
        font-size: 3rem;
    }

    .upArrow {
        font-size: 3rem;
    }

    /* END OF HOME  */

    .about-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
    }

    .about-profile-image {
        width: 100%;
    }

    .aboutImg {
        margin: 30px auto;
        width: 170px;
    }

    .aboutDescription {
        width: 90%;
    }

    /* END OF ABOUT  */


    .icons-wrapper {
        gap: 60px;
        width: 500px;
    }

    .icon-box {
        font-size: .8rem;
    }

    .skillIcon {
        width: 45px;
    }

    /* END OF SKILLS  */

    .form-input {
        font-size: 1rem;
        border-radius: 5px;
    }

    /* END OF CONTACT  */


    .footer_icons{
        padding: 20px;
    }
    
    /* END OF FOOTER  */















}

/* MAX WIDTH 1000 ENDS HERE !!! */