/* MAX WIDTH 1600 STARTS HERE !!! */

@media (max-width:1500px) {

    .initials{
        font-size: 2.1rem;
    }

    .cv-front {
        padding: 5px 9px;
        font-size: .9rem;
    }

    .scrollTags{
        font-size: 1.3rem;
    }

    .topbarScrollTo {
        margin: 0 15px;
    }

    .icon {
        margin: 0 15px;
        font-size: 2rem;
    }
    /* END OF TOPBAR  */
    

    .about-wrapper {
        font-size: 1.5rem;
    }   
    /* END OF ABOUT  */


    .section-title {
        font-size: 3.5rem;
    }

}

/* MAX WIDTH 1600 ENDS HERE !!! */